.card{
    background-color: blueviolet;
    color: white;
    border-radius: 30px;
    padding: 10px;
}
h1{
    text-align: center;
    font-size: larger;
    font: bold;
}
p{
    margin-top: 20px;
    margin-bottom: 20px;
}
button{
    background-color: green;
    color: white;
}
button:hover{
    background-color: greenyellow;
    color: black;
}